<a class="link dim black b f6 f5-ns dib mr3" href="/" title="Animal Favies">Animal Favies</a>
<a class="fr link dim gray f6 f5-ns dib mr3" href="/" title="Home">Home</a>
<a class="fr link dim gray f6 f5-ns dib mr3" href="/favorites" title="Favorites">Favorites</a>
<a class="fr link dim gray f6 f5-ns dib mr3" href="/favorites/add" title="Add a Favorite">Add a Favorite</a>
