<h1 class="ttu">Favourites</h1>

<div id="fave-list" >

</div>

<script>
  var FAVORITES = <%- JSON.stringify(faves) %>;
  // TODO set Hidable to toggle dn/db
</script>
<script src="faves.js"></script>
